{% extends "base.html"%}

{% block content%}

        <h1>Add Blog</h1>
        <form action = "/addblog" method="post">
            <lable><strong>Blog Title</strong>
            <br/>

            <input type="text" name="blogtitle"/>
            <p class="error">{{title_error}}</p>
            <br/>
            <br/>
            <lable><strong>Blog Entry</strong> <br/>
            <textarea class ="input" name ="blogentry"
            style = "height:100px; width: 200px"></textarea>
            <p class="error">{{entry_error}}</p>
            <br/>
            <input type="submit" value="Add">
        </form>
{% endblock %}
