{% extends "base.html"%}
{% block content %}
<h1><strong>Build a blog</strong></h1>

        <!-- {% if blog_id %} -->
        <p>NO Blog</p>
        <!-- {%else%} -->
                <ul>
                        {% for blog in blogtask %}
                        <li><a href = "/blog?id={{blog.id}}">{{blog.qtitle}}</a>
                                <ul><li>{{blog.qentry}}</li></ul>
                        <li>
                        {%endfor%}
                </ul>

                </hr>
        <!-- {% endif %} -->

{% endblock %}
